extends ../../views/components/page/page

include search-plate/search-plate

block main
  div.search-page
    +SearchPlate.search-page__search-plate(searchResults=searchResults, searchFormData=searchFormData)
