include comment/comment

append style
  include:sass style.scss

mixin LastCommentList
  - const {class: className, lastComments} = attributes;

  ul(class=['last-comment-list', className])
    each lastComment in lastComments
      li.last-comment-list__item
        +Comment(comment=lastComment)
