include ../../../components/link/index
include ../../../components/text/text

mixin PageFooter
  - const {class: className} = attributes;

  footer(class=['page-footer', className])
    +LinkContainer.page-footer__copyright(href='https://htmlacademy.ru/intensive/nodejs', aria-label='HTML Academy')
      img(src='/img/icons/HTMLAcademyLogo.svg' width='112' height='50' alt='HTML Academy')
    span.page-footer__dot
    +Text.page-footer__text(weight='bold') Типотека, 2019
