$color-cobalt: #003db3;
$color-blue-ribbon: #0057ff;
$color-blue-ribbon-50: #0057ff80;
$color-dodger-blue: #4786ff;
$color-scorpion: #595959;
$color-dove-gray: #717171;
$color-god-gray: #141414;
$color-royal-blue: #2f80ed;
$color-white: #ffffff;
$color-white-10: #ffffff1a;
$color-black: #000000;
$color-black-50: #00000080;
$color-black-30: #0000004D;
$color-black-20: #00000033;
$color-black-10: #0000001a;
$color-silver: #c4c4c4;
$color-concrete: #f2f2f2;
$color-cornflower-blue-50: #81aeff80;
$color-tropical-blue: #bfdcf7;
$color-selago: #f2f8fd;
$color-gallery: #efefef;
$color-guardsman-red: #c50000;
$color-burnt-sienna: #eb5757;
$color-fair-pink: #ffeded;
$color-polar: #eaf7fa;
