$indent-1: 4px;
$indent-2: 8px;
$indent-3: 12px;
$indent-4: 16px;
$indent-5: 20px;
$indent-6: 24px;
$indent-7: 28px;
$indent-8: 32px;
$indent-9: 40px;
$indent-10: 48px;
$indent-11: 56px;
$indent-12: 60px;
$indent-13: 80px;
