@import "@views/style/vars";

.search-result {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.search-result__post-date {
  color: $color-silver;

  font-size: map-get($font-size-by-size, "200");
}
