@use "sass:map";

@import "@views/style/vars";

$button-height-by-size: (
  "100": 25px,
  "150": 30px,
  "200": 35px,
  "250": 40px,
  "300": 45px,
  "350": 50px,
  "400": 55px,
  "450": 60px,
  "500": 65px,
  "550": 70px,
  "600": 75px,
  "700": 80px,
  "800": 85px,
  "1200": 90px,
);

$button-font-size-by-size: (
  "100": 6px,
  "150": map.get($font-size-by-size, "50"),
  "200": map.get($font-size-by-size, "100"),
  "250": map.get($font-size-by-size, "150"),
  "300": map.get($font-size-by-size, "200"),
  "350": map.get($font-size-by-size, "250"),
  "400": map.get($font-size-by-size, "300"),
  "450": map.get($font-size-by-size, "350"),
  "500": map.get($font-size-by-size, "400"),
  "550": map.get($font-size-by-size, "450"),
  "600": map.get($font-size-by-size, "500"),
  "650": map.get($font-size-by-size, "550"),
  "700": map.get($font-size-by-size, "600"),
  "750": map.get($font-size-by-size, "650"),
  "800": map.get($font-size-by-size, "700"),
  "850": map.get($font-size-by-size, "750"),
  "900": map.get($font-size-by-size, "800"),
  "950": map.get($font-size-by-size, "850"),
  "1000": map.get($font-size-by-size, "900"),
  "1050": map.get($font-size-by-size, "950"),
  "1100": map.get($font-size-by-size, "1000"),
  "1150": map.get($font-size-by-size, "1050"),
  "1200": map.get($font-size-by-size, "1100"),
);

$button-line-height-by-size: (
  "100": 10px,
  "150": map.get($line-height-by-size, "50"),
  "200": map.get($line-height-by-size, "100"),
  "250": map.get($line-height-by-size, "150"),
  "300": map.get($line-height-by-size, "200"),
  "350": map.get($line-height-by-size, "250"),
  "400": map.get($line-height-by-size, "300"),
  "450": map.get($line-height-by-size, "350"),
  "500": map.get($line-height-by-size, "400"),
  "550": map.get($line-height-by-size, "450"),
  "600": map.get($line-height-by-size, "500"),
  "650": map.get($line-height-by-size, "550"),
  "700": map.get($line-height-by-size, "600"),
  "750": map.get($line-height-by-size, "650"),
  "800": map.get($line-height-by-size, "700"),
  "850": map.get($line-height-by-size, "750"),
  "900": map.get($line-height-by-size, "800"),
  "950": map.get($line-height-by-size, "850"),
  "1000": map.get($line-height-by-size, "900"),
  "1050": map.get($line-height-by-size, "950"),
  "1100": map.get($line-height-by-size, "1000"),
  "1150": map.get($line-height-by-size, "1050"),
  "1200": map.get($line-height-by-size, "1100"),
);
