mixin Link
  -
    const {
      'aria-label': ariaLabel,
      class: className,
      currentPath,
      href,
      size = '250',
      theme,
      underlined = false,
      weight = '500',
    } = attributes;

    const isCurrentPath = href === currentPath;

    const linkClasses = [
      'link',
      `link_size_${size}`,
      `link_weight_${weight}`,
      isCurrentPath && 'link_current',
      underlined && 'link_underlined',
      theme && `link_theme_${theme}`,
      className
    ];

  a(
    class=linkClasses,
    href=!isCurrentPath && href,
    aria-label=!isCurrentPath && ariaLabel
  )
    block
