include ../../../views/components/plate/plate
include ../../../views/components/title/title

include no-posts-stub/no-posts-stub
include post-list/post-list

append style
  include:sass style.scss

mixin PostsPlate
  - const {class: className, posts} = attributes;

  +Plate(class=['posts-plate', className])
    div.posts-plate__inner
      +Title.posts-plate__title(size='400', tag='h2', weight='medium') Мои записи
      if posts && posts.length
        +PostList(posts=posts)
      else
        +NoPostsStub.posts-plate__no-posts-stub
