extends ../../components/page/page

include comments-plate/comments-plate

block main
  div.admin-comments-page
    +CommentsPlate.admin-comments-page__comments-plate(comments=Array.from({length: 2}))
