include ../../../../components/title/title

include most-discussed-post-list/most-discussed-post-list

append style
  include:sass style.scss

mixin MostDiscussedPosts
  - const {class: className, mostDiscussedPosts} = attributes;

  div(class=['most-discussed-posts', className])
    +Title.most-discussed-posts__title(size='100', tag='h3') Самое обсуждаемое 🔥
    if mostDiscussedPosts && mostDiscussedPosts.length
      +MostDiscussedPostList.most-discussed-posts__list(mostDiscussedPosts=mostDiscussedPosts)
    else
      +Text.most-discussed-posts__no-most-discussed-posts-stub(size='250')
        | Здесь пока ничего нет...
