extends ../../components/page/page

include ../../components/button/button
include ../../components/categories-navigation/index
include ../../components/link/link
include ../../components/paginator/index
include ../../components/plate/plate
include ../../components/post-card-list/post-card-list
include ../../components/text/text
include ../../components/title/title

include most-interesting-plate/most-interesting-plate
include no-posts-stub-plate/no-posts-stub-plate

append style
  include:sass style.scss

block main
  div.main-page
    +Text.main-page__welcome-text(size='800', weight='medium', width='710px')
      | Это приветственный текст,
      | который владелец блога может
      | выбрать, чтобы описать себя 👏
    - const posts = Array.from({length: 8});
    if posts && posts.length
      +CategoriesNavigationContainer.main-page__categories-menu(categories=new Array(5).fill(category = {
        name: 'Автомобили',
        postsAmount: 13,
        id: 'auto',
      }))
      +MostInterestingPlate.main-page__comments-plate(mostDiscussedPosts=Array.from({length: 4}), lastComments=Array.from({length: 4}))
      +PostCardList(posts=posts)
      +PaginatorContainer.main-page__paginator(page=1, pagesAmount=10)
    else
      +NoPostsStubPlate
