@import "~@app/views/style/vars";

.post-card-list__list {
  margin: 0;
  padding: 0;

  list-style: none;

  columns: 2;
  column-gap: $indent-5;
}

.post-card-list__list-item {
  margin-bottom: $indent-5;
  break-inside: avoid;
}
