include ../../../../views/components/stub/stub
include ../../../../views/components/title/title
include ../../../../views/components/text/text

mixin NoPostsStub
  - const {class: className} = attributes;

  +Stub(class=['no-posts-stub', className])
    +Slot('icon')
      +Icon(name='stapled-documents', size='1200')
    +Slot('title')
      +Title(size='100', weight='medium', align='center') Здесь пока пусто
    +Slot('text')
      +Text(align='center', color='dove-gray', size='250') Автор ещё не опубликовал ни одной записи
