extends ../../components/page/page

include ../../components/button/button
include ../../components/icon/icon
include ../../components/link/link
include ../../components/link/index
include ../../components/stub/stub
include ../../components/text/text
include ../../components/title/title

append style
  include:sass style.scss

block main
  div.error-page
    if error
      div.error-page__error-stub-wrapper
        +Stub.error-page__error-stub
          +Slot('icon')
            +Icon(name='sad-paper', size='2100', color='burnt-sienna')
          +Slot('title')
            +Title(size='350', weight='medium') #{error.title}
        if error.code === '404'
          +LinkContainer.error-page__link(href='/', size='400') Вернуться на главную
        else if error.code === '500'
          +Link.error-page__link(href=router.href, size='400') Обновить
