@import "~@app/views/style/vars/index";

.post-form__header {
  $indent-to-left-post-plate-close-button-edge: 38px;

  display: flex;
  align-items: center;

  padding-right: $indent-to-left-post-plate-close-button-edge + $indent-4;
  margin-bottom: $indent-10;
}

.post-form__input:not(:last-child) {
  margin-bottom: $indent-2;
}

.post-form__title {
  margin-right: auto;
}

.post-form__date-input {
  margin-right: $indent-4;
}

.post-form__category-list {
  display: flex;
  flex-wrap: wrap;
  gap: $indent-2;

  margin: 0 0 $indent-8 0;
  padding: 0;

  list-style: none;
}

