@import "~@app/views/style/vars";

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $indent-10 0;
}

.page-footer__dot {
  $size: 5px;

  display: block;

  width: $size;
  height: $size;

  border-radius: 50%;
  background-color: $color-black;
}

.page-footer__copyright {
  display: block;

  width: 112.35px;
  height: 50px;

  &:hover {
    opacity: 0.3;
  }
}

.page-footer_padding {
  padding-bottom: $indent-12;
}
