include ../../../../views/components/title/title

include last-comment-list/last-comment-list

append style
  include:sass style.scss

mixin LastComments
  - const {class: className, lastComments} = attributes;

  div(class=['last-comments', className])
    +Title.last-comments__title(size='100', tag='h3') Последние комментарии 💬
    if lastComments && lastComments.length
      +LastCommentList.last-comments__list(lastComments=lastComments)
    else
      +Text.last-comments__no-last-comments-stub(size='250')
        | Здесь пока ничего нет...
