@import "@views/style/vars";

.comment-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.comment-list__item:not(:last-child) {
  margin-bottom: $indent-5;
  padding-bottom: $indent-5;

  border-bottom: 1px solid $color-silver;
}
