@import "~@app/views/style/vars";

.button_theme_switch-black-50 {
  &.button_view_outlined {
    transition: opacity $time-microinteraction, color $time-microinteraction, background-color $time-microinteraction;

    color: $color-black;
    border: 2px solid $color-black-50;

    @at-root {
      button:not(:disabled):hover#{&},
      a[href]#{&}:hover,
      &:focus-visible {
        color: $color-concrete;
        background-color: $color-black;
      }
    }
  }
}
