@import "@views/style/vars";

.comment__header {
  display: flex;
  align-items: center;

  margin-bottom: $indent-2;
}

.comment__user {
  $bullet-point-symbol-width: 8.44px;

  position: relative;

  display: inherit;
  align-items: inherit;

  margin-right: $indent-3;
  padding-right: $indent-3 + $bullet-point-symbol-width;

  &::after {
    position: absolute;
    right: 0;

    content: '•';
  }
}

.comment__user-avatar {
  margin-right: $indent-2;
}

.comment__text {
  margin-bottom: $indent-2;
}
