//- TODO: Добавить скрытый заголовок и семантичный тег для меню

mixin DropdownMenu
  -
    const {class: className, currentHref, items} = attributes;

    const slots = {};

  mixin Slot(name)
    -
      slots[name] = block;

  -block();

  div(class=['dropdown-menu', className])
    div.dropdown-menu__button
      - slots.button()
      ul.dropdown-menu__item-list
        each item in  items
          - const isCurrentHref = item.url === currentHref;

          li.dropdown-menu__item-list-item
            a(
              class=['dropdown-menu__link', isCurrentHref && 'dropdown-menu__link_current'],
              href=!isCurrentHref && item.url
            )
              | #{item.name}
