@use "sass:math";
@use "sass:map";

@import "~@app/views/style/vars";

.input {
  display: inline-flex;
  flex-direction: column;

  vertical-align: top;
}

@import "input__control";
@import "input__error";
@import "input__hint";
@import "input__label";
@import "input__wrapper";

@import "_size";
@import "_view";
