@use "sass:map";

@import "~@app/views/style/vars";

.input__hint {
  display: none;

  margin-top: $indent-1;

  color: $color-black-50;

  font-size: map.get($font-size-by-size, "200");
  line-height: map.get($line-height-by-size, "200");

  &_visible {
    display: inline;
  }
}
