@import "~@app/views/style/vars";

.link_theme_royal-blue {
  &[href]:hover,
  &[href]:focus-visible {
    transition: color $time-microinteraction;

    color: $color-royal-blue;

    opacity: 1;
  }
}
