@import "~@app/views/style/vars";
@import "~@app/views/style/mixins";

.user-navigation__title {
  @include visually-hidden;
}

.user-navigation__child-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation__child-list-item {
  display: flex;

  &:not(:last-child) {
    margin-right: $indent-3;

    &::after {
      $size: 5px;

      width: $size;
      height: $size;
      margin-left: $indent-2;

      content: "•";

      transform: translateY(2px);
    }
  }
}
