@use "sass:map";

@import "~@app/views/style/vars";

$indent-post-card: $indent-5;

.post-card {
  display: flex;
  flex-direction: column;

  padding: $indent-post-card;

  border-radius: 15px;
  background-color: $color-white;
}

.post-card__category-list {
  display: flex;

  margin: 0 0 $indent-4;
  padding: 0;

  list-style: none;
}

.post-card__category-list-item {
  &:not(:first-child) {
    &::before {
      margin-right: $indent-2;

      content: "•";
    }
  }

  &:not(:last-child) {
    margin-right: $indent-2;
  }
}

.post-card__image {
  width: calc(100% + #{$indent-post-card * 2});
  height: auto;
  margin: 0 -#{$indent-post-card} $indent-5;
}

.post-card__date {
  margin-bottom: $indent-2;

  color: $color-silver;

  font-size: map.get($font-size-by-size, "200");
  line-height: map.get($line-height-by-size, "200");
}

.post-card__title {
  margin-bottom: $indent-3;
}

.post-card__preview-text {
  margin-bottom: $indent-3;
}

.post-card__post-comments-link {
  margin-right: auto;
}
