include ../../../../../views/components/information-plate/information-plate
include ../../../../../views/components/title/title

append style
  include:sass style.scss

mixin SignUpFormErrorInformationPlate
  - const {class: className, errors} = attributes;
  +InformationPlate(class=['sign-up-form-error-information-plate', className], theme='error')
    +Slot('title')
      +Title(size='50') При регистрации произошли ошибки:
    +Slot('text')
      ul.sign-up-form-error-information-plate__error-list
        each errorT in errors
          li.sign-up-form-error-information-plate__error-list-item
            | #{errorT}
