include ../../../../../views/components/stub/stub
include ../../../../../views/components/title/title
include ../../../../../views/components/text/text

mixin NoCategoriesStub
  - const {class: className} = attributes;

  +Stub(class=['no-categories-stub', className])
    +Slot('icon')
      +Icon(name='sad-folder', size='1200')
    +Slot('title')
      +Title(size='100', weight='medium', align='center') Категорий нет
