@import "@views/style/vars";
@import "@views/style/mixins";

.input__label {
  position: absolute;
  top: 50%;
  left: 0;

  transition: top $time-microinteraction, left $time-microinteraction, font-size $time-microinteraction, transform $time-microinteraction;
  transform: translateY(-50%);
  pointer-events: none;

  color: $color-black-50;

  &_visually-hidden {
    @include visually-hidden;
  }
}
