@import "@views/style/vars";
@import "@views/style/mixins";

.title {
  margin: 0;

  white-space: pre-line;

  color: inherit;

  @at-root {
    b#{&} {
      display: block;
    }
  }

  &_visually-hidden {
    @include visually-hidden;
  }
}

@import "_align";
@import "_color";
@import "_size";
@import "_weight";
