@import "@views/style/vars";
@import "@views/components/plate/style/plate";

.search-plate__inner {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  min-height: 574px;
  padding-bottom: $indent-10;
}

.search-plate__title {
  margin-bottom: $indent-4;
}

.search-plate__search-form {
  margin: 0 -#{$indent-plate} $indent-7;
}

.search-plate__no-search-results-stub {
  margin: 0 auto;
}

